body {
  background-image: url("/home_background.jpg");
  /* background: linear-gradient(#23183d, #481c2b, #1d0c08); */
  background-size: cover;
  /* background-color: #cccccc; */

}

h1, h2 {
  text-align: center;
}

h2 {

}
